@import "../../styles/global/utilities.scss";
@import "../../styles/global/variable.scss";

.section-tours {
  background-color: $color-grey-light-1;
  padding: 15rem 0 10rem 0;
  margin-top: -14rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}
