/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857143;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

/* this code translate to 10px. default font size is 16px * 0.625 */
html {
  font-size: 62.5%;

  //https://www.codegrepper.com/code-examples/css/react+disable+horizontal+scroll
  max-width: 100%;
  overflow-x: hidden;

  //https://stackoverflow.com/questions/42308209/chrome-browser-automatically-scrolling-down-the-content-when-nobody-asked-it-to/42562623
  overflow-anchor: none;

  // width: 100vw;
  // height: 100vh !important;

  // z-index: 1;
  // max-width: 100%;
}
