/* ------------------------------------------------------------------ */
/* 1.0 Variables */
/* ------------------------------------------------------------------ */

//COLORS
$color-primary: #55c57a;
$color-primary-light: #28b485;
$color-primary-dark: #2c9d2e;

$color-grey-light-1: #f7f7f7;

$color-dark-grey: #777;
$color-white: #fff;
$color-black: #000;

//Padding
$section-padding: 25rem 0;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//clip-path: polygon
$clip-path-polygon-1: 0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%,
  100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%;
// clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
