.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(100deg, #7ee8fa 0%, #80ff72 74%);
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(white, 0.9) 0%,
      rgba(white, 0.9) 50%,
      transparent 50%
    ),
    url("../../img/nat-10.jpg");
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(#000000, $alpha: 1);
  background-size: cover;
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
