@import "../../styles/global/variable.scss";

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.5),
      rgba($color-primary-light, 0.5),
      rgba($color-primary-dark, 0.8)
    ),
    url("../../img/nat-4.jpg");
  background-size: cover;
  clip-path: polygon($clip-path-polygon-1);
}

.feature-box {
  width: 100%;

  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  transition: transform 0.3s ease-in-out;

  &_icon {
    display: inline-block;
    font-size: 6rem;

    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
